* {
  margin: 0;
}
:root {
  --lightblue: rgb(103, 138, 241);
  --darkgrey: rgb(56, 56, 56);
}

/* header settings */
header {
  background-color: var(--darkgrey);

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
a h1 {
  color: white;
  display: inline-block;
  margin-left: 15px;
}
h1 span {
  font-weight: lighter;
  padding-left: 5px;
}
h1::after {
  content: " ";
  display: block;
  background-color: royalblue;
  width: 187px;
  height: 10px;
  margin-top: -10px;
}
nav ul {
  display: flex;
  flex-flow: wrap;
  align-items: center;
  list-style: none;
}
nav ul li a {
  padding: 3px 10px;
  margin: 0 25px;
  color: var(--lightblue);
  font-size: 1.2rem;
  font-weight: lighter;
  text-align: center;
  border-bottom: 2px solid white;
  text-decoration: none;
}
nav ul li a:hover {
  border: 2px solid white;
}

/* hero settings */
.hero {
  background-color: var(--lightblue);
  width: 100%;
  height: 225px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  background: repeating-linear-gradient(
    45deg,
    var(--lightblue),
    royalblue 60px
  );
}
.welcome-bar {
  padding: 10px 20px;
  margin: 35px;
  background-color: var(--darkgrey);
  width: fit-content;
  height: fit-content;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.welcome-bar h2 {
  font-weight: lighter;
}
